@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar-* {
    color: hsla(0, 0, 0, 0);
    background: hsla(0, 0, 0, 0);
    overflow-x: hidden;
    overflow-y: hidden;
}
::-webkit-scrollbar:horizontal{
    color: hsla(0, 0, 0, 0);
    background: hsla(0, 0, 0, 0);
}
::-webkit-scrollbar {
    width: 0px;
    color: hsla(0, 0, 0, 0);
    background: hsla(0, 0, 0, 0);
    overflow: hidden;
}

::-webkit-scrollbar-track {
    background: hsla(0, 0, 0, 0);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0, 0, 0);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0, 0, 0);
}